@font-face {
  font-family: Poppins-Regular;
  src: url('./assets/fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-Medium;
  src: url('./assets/fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: Poppins-Bold;
  src: url('./assets/fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('./assets/fonts/poppins/Poppins-SemiBold.ttf');
}

body {
  font-family: 'Poppins-Regular', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

h2 {
  font-family: 'Poppins-Regular', Arial, Helvetica, sans-serif;
  font-size: 2.5em;
  font-weight: normal;
  color: #777;
}

h3 {
  font-family: 'Poppins-Regular', Arial, Helvetica, sans-serif;
  color: #888;
  font-size: 1.5em;
}

.text--center {
  text-align: center;
}

.u-flex {
  display: flex;

  &--center {
    justify-content: center;
    align-items: center;
  }

  &--space-between {
    justify-content: space-between;
  }

  &--column {
    flex-direction: column;

    &-on-mobile {
      @media (max-width: 599px) {
        flex-direction: column;
      }
    }
  }

  &__item {
    flex: 1 1 auto;

    &--grow {
      flex-grow: 1;
    }
  }
}

.col-red {
  color: #c00;
}

.u-separator {
  width: 100%;
  margin: 10px auto 15px;
  position: relative;
  height: 1px;
  backface-visibility: hidden;
  transform: translateZ(0) scale(1, 1);
  color: transparent;

  &::after {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -1px;
    height: 2px;
    background: #fff;
    background: linear-gradient(to right, transparent 0%, rgba(255, 255, 255, 0.09) 35%, rgba(255, 255, 255, 0.09) 70%, transparent 100%);
    content: "";
  }
}

.u-max-width {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;

  &-parent {
    .v-toolbar__content {
      max-width: 1140px;
      margin-right: auto;
      margin-left: auto;
    }
  }
}

.u-fixed-header {
  position: fixed;
}

.u-only-on-desktop {
  @media (max-width: 599px) {
    display: none;
  }
}

.u-only-on-mobile {
  @media (min-width: 600px) {
    display: none;
  }
}
