@font-face {
  font-family: Poppins-Regular;
  src: url('./assets/fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-Medium;
  src: url('./assets/fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: Poppins-Bold;
  src: url('./assets/fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('./assets/fonts/poppins/Poppins-SemiBold.ttf');
}

body {
  font-family: 'Poppins-Regular', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

h2 {
  font-family: 'Poppins-Regular', Arial, Helvetica, sans-serif;
  font-size: 2.5em;
  font-weight: normal;
  color: #777;
}

h3 {
  font-family: 'Poppins-Regular', Arial, Helvetica, sans-serif;
  color: #333;
  font-size: 1.5em;
}

.text--center {
  text-align: center;
}

.u-flex {
  display: flex;

  &--center {
    justify-content: center;
    align-items: center;

    &-on-mobile {
      @media (max-width: 599px) {
        justify-content: center;
        align-items: center;
      }
    }
  }

  &--space-between {
    justify-content: space-between;
  }

  &--column {
    flex-direction: column;

    &-on-mobile {
      @media (max-width: 599px) {
        flex-direction: column;
      }
    }
  }

  &__item {
    flex: 1 1 auto;

    &--grow {
      flex-grow: 1;
    }
  }
}

.col-red {
  color: #c00;
}

.u-separator {
  width: 100%;
  margin: 10px auto 15px;
  position: relative;
  height: 1px;
  backface-visibility: hidden;
  transform: translateZ(0) scale(1, 1);
  color: transparent;

  &::after {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -1px;
    height: 2px;
    background: #fff;
    background: linear-gradient(to right, transparent 0%, rgba(255, 255, 255, 0.09) 35%, rgba(255, 255, 255, 0.09) 70%, transparent 100%);
    content: "";
  }
}

.u-max-width {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;

  &-parent {
    .v-toolbar__content {
      max-width: 1140px;
      margin-right: auto;
      margin-left: auto;
    }
  }
}

.u-full-width {
  width: 100%;
  max-width: 100vw;
}

.u-fixed-header {
  position: fixed;
}

.u-only-on-desktop {
  @media (max-width: 599px) {
    display: none;
  }
}

.u-only-on-mobile {
  @media (min-width: 600px) {
    display: none;
  }
}

.c-candidat-wrapper {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  background-image: url(./assets/bg-presignup.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 599px) {
    background: linear-gradient(to bottom, #7579ff, #b224ef);
  }
}

.c-candidat-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40em;
  padding: 1em;
  margin: 1em;
  background: linear-gradient(to bottom, #17a2b8, #063852);
  border-radius: 1em;
  box-shadow: 0.05em 0.1em 0.1em 0.3em #fff;
  color: #fff;

  @media (max-width: 599px) {
    width: 24em;
  }

  &__title {
    margin: 0.2em 0;
    line-height: 1;
    font-family: 'Poppins-Regular', Arial, Helvetica, sans-serif;
    font-size: 60px;
    letter-spacing: 5px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 3px 3px 0 #000;
    text-shadow: 8px 8px 12px #333;
  }

  &__subtitle {
    padding: 5px 0 15px 0;
    line-height: 1;
    font-family: 'Poppins-Medium', Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #fff;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 8px 8px 12px #333;
  }
}

.candidat-section-header {
  font-family: 'Poppins-Regular', Arial, Helvetica, sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &::after {
    content: '';
    width: 60px;
    height: 5px;
    background: #f82249;
    bottom: 0;
    margin-bottom: 1em;
  }

  &__title {
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
  }
}

.candidat .v-card {
  padding-top: 1em;
  padding-bottom: 1em;

  @media (min-width: 599px) {
    border-radius: 1em;
  }

  @media (max-width: 599px) {
    width: 95vw;
  }
}
